:root {
    --primary-theme-color: white;
    --secondary-theme-color: red;
    --tertiary-theme-color: rgba(165,43,42,0.7);
}

/* General Propertier */

body {
    background-color: var(--secondary-theme-color);
    background-image: url("./background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--primary-theme-color);
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    padding: 15px;
}

h4 {
    text-align: center;
}

button {
    background-color: rgb(73, 73, 73);
    color: var(--primary-theme-color);
    border: solid var(--primary-theme-color) 2px;
    border-radius: 0;
    box-sizing: border-box;
    transition: background-color 200ms;
}

button:hover {
    background-color: black;
}

div {
    display: inline-block;
}

/* Home Page */

    /* Page Header */

header {
    position: relative;
}

#view-favroites {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 120px;
    font-weight: bold;
}

#page-header {
    border: solid var(--primary-theme-color) 5px;
    background-color: var(--tertiary-theme-color);
    transition-property: border-color, color;
    transition-duration: 200ms;
}

#page-header:hover {
    --hover-color: rgb(177, 177, 177);
    border-color: var(--hover-color);
    color: var(--hover-color);
}

    /* Search Bar */

#search {
    width: 100%;
    display: flex;
    justify-content: center;
    --bar-height: 50px;
}

#search-bar {
    height: var(--bar-height);
    width: 50%;
}

#search-button {
    font-weight: bold;
    height: var(--bar-height);
    width: 10%;
}

    /* Hero List */

#search-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.hero-item {
    background-color: var(--tertiary-theme-color);
    border: solid var(--primary-theme-color) 4px;
    display: inline-block;
    position: relative;
    width: 30%;
    margin: 10px 0;
    padding: 2% 0;
}

.hero-item-img {
    width: 50%;
    height: 151px;
    margin: 0 25%;
}

.hero-item-name {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5%;
}

.hero-item-button-container {
    display: flex;
    justify-content: space-around;
}

.hero-item-button-container > button {
    font-size: 1.2rem;
}

/* Superhero Page */

#hero-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-color: var(--tertiary-theme-color);
    border: solid var(--primary-theme-color) 6px;
    padding: 10px;
    box-sizing: border-box;
}

#hero-container > button {
    height: 40px;
    width: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1rem;
    font-weight: bold;
}

#hero-name-container {
    width: 100%;
    margin: 0;
}

#hero-img-container {
    max-width: 33%;
    width: fit-content;
    height: fit-content;
    border: solid var(--primary-theme-color) 3px;
}

#hero-img-container img {
    max-width: 100%;
}

#hero-dcrpt-container {
    width: 66%;
    padding: 10px;
    box-sizing: border-box;
}

#hero-events-container {
    width: 100%;
    display: flex;
}

#hero-events-container > div {
    width: 50%;
}

/* Favroites Page */

#message {
    border: solid var(--primary-theme-color) 5px;
    background-color: var(--tertiary-theme-color);
}

#fav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}